.upVote:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.downVote:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#voteDisplay {
  color: #1877f2;
}

.voting {
  font-size: small;
}
