body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

nav {
    background-color: rgb(16, 16, 16);
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    list-style: none;
}

nav li {
    margin: 5px;
    color: #ffffff;
}

nav li:hover {
    color: #e7aff4;
}

#nav-tabs {
    display: flex;
    flex-direction: row;
    margin-left: 130px;
}