#favoritesContent{
    height: 100vh;
}

#favoritesBox{
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: pink;
    margin-left: 30px;
    margin-right: 30px;
}

/* container for all the posts */
#favoritesPosts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}

/* the actual posts */
.favoritesPost{
    display: flex;
    height: 30%;
    width: 20%;
    background-color: white;
    margin: 5px;
}

.favoritesPost:hover{
    background-color: lightgrey;
}