
/*
Connie Pak - cpak014
Hannah Bach - hbach003
*/

/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

/* TODO: Create CSS for your Twitter Mockup */
nav {
  background-color: rgb(255, 255, 255);
  height: 46px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  list-style: none;
}

nav li {
  /* margin: 5px; */
  /* margin-top: 15px; */
  margin: 15px 0px 0px 50px;
  color: #707070;
}

nav li:hover {
  color: #4ab3f4;
  border-bottom: 3px solid #4ab3f4;
}

#nav-tabs {
  display: flex;
  flex-direction: row;
  margin-left: 130px;
}

#content-left {
  display: flex;
  flex-direction: column;
  height: 255px;
  width: 290px;
  background-color: white;
  overflow: hidden;
}

#cover-coverpfp {
  height: 37%;
  width: 100%;
  background-color: black;
  margin-bottom: 45px;
}

#banner {
  height: 30px;
  width: 59%;
  margin-left: 65px;
  margin-top: 35px;
  /* padding: 2px; */
}

#cover-profile {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}

#cover-profile-pic {
  flex-direction: column;
  float: left;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  overflow: hidden;
}

#name-screen {
  margin: 33px 0px 0px 22px;
}

#stats-content {
  display: flex;
  flex-direction: row; /*row so that each '#stats' are in a row format"  */
  justify-content: space-evenly;
}

#stats {
  flex-direction: column; /*column so that each stat info 'Tweets\n#' 'Following\n#' 'Followers\n#' are in a row format"  */
  display: flex;
  margin-top: 27px;
}

#space-nav {
  margin-left: 62px;
}

#tweet-button {
  position: fixed;
  right: 0%;
  margin-top: 10px;
  margin-right: 100px;
  padding: 8px;
  border-radius: 16px;
  width: 77px;
  height: 30px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #4ab3f4;
}

#twitterlogo {
  position: fixed;
  left: 52%;
  width: 30px;
  margin-top: 12px;
}

#wrapper {
  background-color: #e6ecf0;
  display: flex;
  flex-direction: row; /* display flex items from left to right horizontally*/
  align-items: flex-start; /* aligning children/items to start on the top of cross-axis  */
  justify-content: center; /* aligning children/items to the center of the main-axis  */
  margin: 56px auto;
  max-width: 1190px;
  /* border: solid; */
}

#content-center {
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 50%;
  background-color: white;
  height: auto;
  margin-left: 14px;
  margin-right: 14px;
}

#tweet {
  /* padding: 0px; */
  padding: 5px;
  margin-right: 80px;
  flex-direction: row;
  min-height: 51px;
}

#ratatouille {
  float: left; /*so that we can position the text to be right next to ratatouille profile picture side by side */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
}

#tweet-text {
  padding-left: 70px;
}

#name-date {
  color: grey;
}

#content-right {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 290px;
  background-color: white;
}

/* #profile {
      border-bottom: 1px solid #d3d3d3;
   
    } */
#cc-border-bot {
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 3px;
  padding-bottom: 10px;
}
#cr-border-bot {
  margin: 17px;
  border-bottom: 1px solid #d3d3d3;
}

#profile-pic {
  flex-direction: column;
  float: left;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
}

#follow-button {
  margin-top: 5px;
  border: 1px solid#4AB3F4;
  border-radius: 12px;
  width: 95px;
  height: 28px;
  font-weight: bold;
  font-size: 14px;
  color: #4ab3f4;
  background-color: white;
}

p {
  margin-top: 11px;
  margin-bottom: 10px;
  padding: 0;
  /* color: blue; */
}

h3 {
  margin: 20px;
  font-size: 20px;
}

nav a {
  /* for Usability Requirements */
  color: gray;
  font-size: 15px;
  margin: 5px;
  display: none;
}

@media (max-width: 1200px) {
  #content-right {
    display: none;
  }
}