.chatPFP {
  width: 20px;
  height: 20px;
}

.owner {
  font-weight: bold;
}

.msgContainer {
  background-color: lightgray;
}
ul {
  list-style-type: none;
  margin-left: 620px;
}

li {
  display: flex;
}

.picName {
  display: flex;
  flex-direction: row;
}

.messageCard{
  margin: 5px;
  background-color: #7fc2d9;
  border-radius: 8px;
}
