#searchBarBackground{
    display: flex;
    position: fixed;
    height: 4%;
    width: 21%;
    background-color: pink;
    margin-top: -100px;
    margin-left: 1445px;
}

#search{
    margin-left: 7px;
    margin-top: -2px;
}

.title {
    width: 97%;
    background-color: pink;
    margin-left: 30px;
    margin-right: 14px;
}

#recipes {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: row;
    height: 100%;
    width: 97%;
    background-color: pink;
    margin-left: 30px;
    margin-right: 14px;
    justify-content: center;
    align-items: flex-start;
}

/* Recipe Posts */
.fpost {
    border: 1px solid #000;
    background-color: white;
    padding: 10px;
    margin-top: -200px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
    height: 30%;
}

.fpost:hover{
    background-color: lightgray;
}