/* Search Bar */
#searchBarBackground{
    display: flex;
    position: fixed;
    height: 4%;
    width: 21%;
    background-color: pink;
    margin-top: -100px;
    margin-left: 1445px;
}

#search{
    margin-left: 7px;
    margin-top: -2px;
}

.title {
    width: 97%;
    background-color: pink;
    margin-left: 30px;
    margin-right: 14px;
}

/* Layout of Recommendations */
#recommendedPosts {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: row;
    height: 100%;
    width: 65%;
    background-color: pink;
    margin-left: 30px;
    margin-right: 14px;
    justify-content: center;
    align-items: flex-start;
}

#recommendedUsers {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: row;
    height: 100%;
    width: 30%;
    background-color: pink;
    margin-left: 1300px;
    margin-right: 14px;
    justify-content: center;
    align-items: flex-start; 
}

/* Recommended Posts */
.rpost {
    border: 1px solid #000;
    background-color: white;
    padding: 10px;
    margin-top: -200px;
    margin-left: 10px;
    margin-right: 10px;
    width: 28%;
    height: 30%;
}

.rpost:hover{
    background-color: lightgray;
}

/*Recommended Users */
.ruser{
    border: 1px solid #000;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin-top: -200px;
    margin-left: 10px;
    margin-right: 10px;
    width: 34%;
    height: 20%;
}

.ruser:hover{
    background-color: lightgrey;
}