/* Connie Pak - cpak014
Hannah Bach - hbach003 */

body {
  font-family: "Helvetica Neue";
  background-color: #87cefa;
  color: black;
}

h1 {
  margin: 16px auto;
  text-align: center;
  font-size: 4em;
}

.timer{
  align-items: center;
}

.whose_turn {
  margin: 10px auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
}

/* Button: NewGame and Reset */
.new_game,
.reset {
  text-align: center;
  background-color: #ff8c00;
  color: #000000;
  font-size: 24px;
  padding: 12px 28px;
  border-radius: 12px;
  border: 1px solid gray;
  display: block;
  margin: 20px auto;
}

.new_game:hover,
.reset {
  background-color: orange;
}

.game_board {
  width: 500px;
  height: 500px;
  border: 4px solid black;
  display: flex;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine {
  flex-grow: 1;
  width: 100px;
  background-color: pink;
  border: 4px solid black;
  box-sizing: border-box;
  position: relative;
}

.xo {
  color: black;
  font-weight: bold;
  font-size: 8em;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  text-align: center;
}

.play_ai,
.two_player {
  margin-left: 150px;
  background-color: #ff8c00;
  color: #000000;
  font-size: 24px;
  padding: 12px 28px;
  border-radius: 12px;
  border: 1px solid gray;
  display: block;
  margin: 20px auto;
}

.play_ai:hover,
.two_player:hover {
  background-color: orange;
}

.move {
  display: flex;
  position: absolute;
  z-index: 1;
  padding: 18% 0% 0% 35%;
}
